# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.env
dist

# Node dependencies
node_modules

#temporary files folder
temp
scripts
scripts/ *.ts
scripts/ *.js

#upload files
public/files
!public/files/.gitkeep
public/uploads
!public/uploads/ .gitkeep

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

/app/generated/prisma

/app/generated/prisma

/app/generated/prisma
