/* Глобальные стили для кастомного скроллбара */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Ширина вертикального скролла */
  height: 8px; /* Высота горизонтального скролла */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* Поддержка Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}
